services:
  - type: web
    name: shongkot
    runtime: docker
    dockerfilePath: ./backend/Dockerfile
    dockerContext: ./backend
    env: docker
    plan: free
    region: oregon
    branch: main
    healthCheckPath: /health
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: ASPNETCORE_URLS
        value: http://+:8080
